<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ExchangeRateMapper">
    
    <!-- 환율 데이터를 데이터베이스에 삽입하는 SQL 쿼리 -->
    <insert id="insertExchangeRate">
        INSERT INTO exchange_rate (currency, rate, date)
        VALUES (#{currency}, #{rate}, #{date})
    </insert>

    <!-- 모든 환율 데이터를 조회하는 SQL 쿼리 -->
    <select id="getAllExchangeRates" resultType="model.ExchangeRate">
        SELECT id, currency, rate, date FROM exchange_rate
    </select>

</mapper>
